---
import Layout from "@/layouts/Layout.astro";
import { allPlaylists, songs } from "@/lib/data";
const { id } = Astro.params;

const playlist = allPlaylists.find((playlist) => playlist.id === id);
const playListSongs = songs.filter(
    (song) => song.albumId === playlist?.albumId
);

const anim = {
    old: {
        name: "slide-center",
        duration: "0.2s",
        easing: "linear",
        fillMode: "forwards",
    },
    new: {
        name: "slide-right",
        duration: "0.8s",
        easing: "linear",
        fillMode: "backwards",
    },
};

const myFade = {
    forwards: anim,
    backwards: anim,
};
---

<Layout title="Song number: ">
    <div
        id="playlist-container"
        class="relative flex flex-col h-full overflow-x-hidden bg-zinc-900"
        transition:name=`playlist ${id} box`
    >
        <!-- PageHeader -->
        <header class="flex flex-row gap-8 px-6 mt-12">
            <picture class="aspect-square w-52 h-52 flex-none relative z-10">
                <img
                    class="object-cover h-full w-full shadow-2xl"
                    src={playlist?.cover}
                    alt={playlist?.title}
                    transition:name=`playlist ${id} image`
                />
                <!-- Disco -->
                <div
                    class="absolute w-44 h-44 top-0 right-1 translate-x-20 translate-y-4 bg-pink-400 rounded-full -z-10 opacity-50 disc"
                    transition:name=`disc-slide-${id}`
                    transition:animate={myFade}
                >
                </div>
            </picture>

            <div class="flex flex-col justify-between z-20">
                <h2 class="flex flex-1 items-end">Playlist</h2>
                <div>
                    <h1
                        transition:name=`playlist ${playlist?.id} title`
                        class="title-clamp text-5xl text-white font-bold block z-10"
                    >
                        {playlist?.title}
                        <span></span>
                    </h1>
                </div>

                <div class="flex-1 flex items-end">
                    <div class="text-sm text-gray-300 font-normal">
                        <div transition:name=`playlist ${id} artists`>
                            <span>{playlist?.artists.join(", ")}</span>
                        </div>
                        <p class="mt-1" transition:animate="slide">
                            <span class="text-white">50 songs</span> , 3 hr 32
                            min
                        </p>
                    </div>
                </div>
            </div>
        </header>

        <div class="relative z-10 px-6 pt-12 flex"></div>
        <div
            class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80"
        >
        </div>
    </div>
</Layout>

<style
    define:vars={{
        color: [playlist?.color.accent],
        darkColor: [playlist?.color.dark],
        darkColorOpacity: [playlist?.color.darkOpacity],
    }}
>
    #playlist-container {
        background-color: var(--darkColorOpacity);
    }
    @keyframes slide-center {
        0% {
            transform: translateX(-100px);
        }
        100% {
            transform: translateX(-200px);
        }
    }

    @keyframes slide-right {
        0% {
            transform: translateX(-100px);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
    .disc {
        box-shadow: 0px 0 0 14px var(--color);
        background-color: var(--darkColor);
    }
    .disc::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 40%;
        height: 40%;
        background-color: var(--darkColor);
        border-radius: 50%;
        box-shadow:
            0px 0px 0 20px var(--color),
            0px 0px 0 40px #1818188e;
    }
</style>
