---
interface Props {
    id: string;
    img: string;
    success: boolean;
    flight_number: number;
    details: string | null;
}

const { id, img, success, flight_number, details } = Astro.props;
const successText = success ? "Success" : "Failure";
---

<a
    href={`/launch/${id}`}
    class="rounded-lg border shadow-md bg-gray-800 border-gray-700 hover:scale-105 hover:bg-gray-700 hover:border-gray-50 transition flex flex-col"
>
    <picture class="flex justify-center">
        <img src={img} alt={`Path for launch ${id}`} class="mb-5 rounded-lg" style={`view-transition-name: launch-${id}`} />
    </picture>
    <header class="p-4 flex-grow">
        <span
            class:list={[
                `text-xs font-semibold mr-2 px-2.5 py-0.5 rounded text-white uppercase tracking-wide`,
                { "bg-red-400 ": !success, "bg-green-500": success },
            ]}>{successText}</span
        >
        <h2 class="my-2 text-2xl font-bold tracking-tight text-white">
            Flight #{flight_number}
        </h2>
        <p class="mb-4 font-light text-gray-400">
            {
                details != null && details?.length > 100
                    ? details.slice(0, 100) + "..."
                    : details
            }
        </p>
    </header>
</a> 
